html {
  scroll-behavior: smooth;
}
body
{
  background-color:#222831;
  font-family:'Questrial';
}
* {
  box-sizing: border-box;
}
#menu{
  display: none;
}
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(logo.gif) center no-repeat #fff;
  background-color: #222831;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color:#222831;
    overflow: hidden;
    position: fixed; /* Make it stick/fixed */
 top: 5%; /* Stay on top */
 width: 100%; /* Full width */
 transition: top 0.3s; /* Transition effect when sliding down (and up) */

}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #E82127;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
color:#C0C0C0;
}

/* Add a color to the active/current link */
.topnav a:active {
  color:#C0C0C0;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  top: inherit;
  margin-right: 50px;

}


.introduction{
  padding: 10% 20%;
    text-align: left;

}

.contactbtn {
    padding: 2.5% 5%;
    color: #E82127;
    text-align: center;
    display: inline-block;
    font-family:'Questrial';
    font-size: 100%;
    margin: 2% 1%;
    cursor: pointer;
    background-color:transparent;
    border: 2px solid #E82127;
    border-radius: 5%;
  }

.contactbtn:hover {
  border: 2px solid #C0C0C0;
  color: #C0C0C0;

}
#about{
  opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  padding: 50px 300px 200px;
      text-align: left;

}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.portrait{
  float:right;
}
#projects{
  opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  padding: 25px 300px 50px;
}
.project {
  float:left;
 width:50%;
 padding: 2px;
}
#projects::after {
  content: "";
  clear: both;
  display: table;
}
#contact{
  opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  padding: 200px 500px 100px 500px;
    text-align: center;
}
#contact h2{
  font-size: 5em;
}
h2{
  overflow:hidden;
  color: #E82127;
  font-size: 3em;
  text-align: center;
}
h3{
  overflow:hidden;
  color: White;
}
h4{
  overflow:hidden;
  color:#C0C0C0;

}

p{
  font-size: 20px;
  color: #C0C0C0;
}
ul{
  font-size: 20px;
  color: #C0C0C0;
}


 .container {
  position: relative;
  width: 50%;
}
 .image {
  opacity: 1;
  display: block;
  width: 450px;
  height: 300px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.icon-bar {
  position: fixed;
  bottom: 0px;
  width: 40px;
  left: 40px;
  right: auto;
  z-index: 10;
}

/* Style the icon bar links */
.icon-bar a {
  color: #E82127;
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 3px;
  object-fit:contain;
}

.icon-bar a:hover {
transform: scale(1.5)
}
.fab{
  color: #93ABC9;
}
.email-bar {
  position: fixed;
  bottom: 0px;
  width: 40px;
  left: auto;
  right: 40px;
  z-index: 10;
}

/* Style the icon bar links */
.email-bar a {
  display:block;
  text-decoration: none;
  text-align:left;
  padding: 10px;
  transition: all 0.3s ease;
  color:#93ABC9;
  font-size: 16px;
    transform: rotate(90deg);
    margin-bottom: 13em;
}

/* Style the social media icons with color, if you want */
.email-bar a:hover {
transform: rotate(90deg);
color:#E82127;

}

.verticalLine {
  content: "";
display: block;
width: 1px;
height: 200px;
margin: 0px auto;
border-left:solid #93ABC9;
border-width: thin;
}
/* Bottom right text */
.text-block {
  position: absolute;
  right: 300px;
  background-color:grey;
  opacity: 0.5;
  color: white;
margin-bottom: 40px;
}
.desc{
  position: relative;
padding-top: 100px;
}

footer{
  text-align:center;
}
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
